<a href="https://colab.research.google.com/github/meesalamanikanta/18cse011/blob/main/Assignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [6]:
#Load data
df = pd.read_csv("https://raw.githubusercontent.com/meesalamanikanta/18cse011/main/diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [7]:
features_cols=['Pregnancies','Glucose','BloodPressure','Insulin','BMI','DiabetesPedigreeFunction','Age']

In [8]:
x = df[features_cols]
y=df.Outcome

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [10]:
print(x_train.head(4))

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
208            1       96             64  ...  33.2                     0.289   21
27             1       97             66  ...  23.2                     0.487   22
298           14      100             78  ...  36.6                     0.412   46
345            8      126             88  ...  38.5                     0.349   49

[4 rows x 7 columns]

In [11]:
print(x_test.head(5))

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
44             7      159             64  ...  27.4                     0.294   40
667           10      111             70  ...  27.5                     0.141   40
37             9      102             76  ...  32.9                     0.665   46
247            0      165             90  ...  52.3                     0.427   23
536            0      105             90  ...  29.6                     0.197   46

[5 rows x 7 columns]

In [12]:
clf = DecisionTreeClassifier()

In [13]:
clf = clf.fit(x_train,y_train)

In [14]:
y_test = clf.predict(x_test)

In [15]:
print("Accuracy :",metrics.accuracy_score(y_test,y_test))

Accuracy : 1.0